# Enable Basic Authentication
AuthType Basic
 
# This is what will be displayed to the user on the login dialog.
AuthName "Access to the Hidden Files"
 
# This you must edit.  It is the absolute path to the .htpasswd file.
AuthUserFile F:\xampp\xampp\htdocs\ij1\images/.htpasswd
 
# This allows any user from inside the .htpasswd file to access the
# content if they provide the proper username and password.
Require valid-user

#If wrong password then 401 error replaced by:-
ErrorDocument 401 "<html><head><title>redirected</title><body><h1>wrong password</h1></body></html>
